*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

header,nav,main,footer{
    background: rgb(255, 217, 168);
    display: flex;
    margin: 3px;
}

body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}


header {
    flex: 1 1 100vw;
    height: 100px;
    
}    
nav {

    flex: 1 1 200px;
    
}
main {
    flex: 20 1 500px;
    height: calc(100vh -224px);
    
}
aside {

    flex: 1 1 200px;
    
}

footer {
    height: 100px;
    flex: 1 1 100vw;

}

header {
justify-content: space-between;

}
.prt_esquerda{
    display: flex;
}

#imglogo{
    border-radius: 30%;
    box-shadow: 5px 5px 20px rgb(158, 209, 233) ;
}

.caixa_pesquisa{
    border:solid 1px;
    border-radius:15px;
    height: 38%;
    position: static;
}
  
  #txt_busca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    border:none;
    height:32px;
    width:260px;
  }