*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

header,nav,main,footer,aside{
    background: rgb(14, 13, 13);
    display: flex;
   
}

body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}


header {
    flex: 1 1 100vw;
    height: 100px;
    
    
}    
nav {
    flex: 1 1;
    flex-direction: column;
    width: 80px;
    
}
main {
    flex: 20 1 500px;
    height: calc(100vh -224px);
    
}
aside {

    flex: 1 1 200px;
    
}

footer {
    height: 100px;
    flex: 1 1 100vw;

}

header {
 justify-content: space-between;
}

.prt_esquerda{
    display: flex;
    align-items: center;
}

#imglogo{
    width: 15vh;
    border-radius: 30%;
    box-shadow: 5px 5px 20px rgb(158, 209, 233) ;
}

.caixa_pesquisa{
    border:solid 1px;
    border-radius:15px;
    height: 38%;
    position: static;
}
  
  #txt_busca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    border:none;
    height:32px;
    width:260px;
  }

  #texto{
    font-size: 300%;
    color:rgb(28, 168, 233) ;
  }
  #teste{
    width: 63vw;
  }
  main{
    flex-direction: column;
  }



.menu-lateral{
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(164, 202, 240);
    transition: .5s;
    
    
}
.menu-lateral.expandir{
    flex: 1 1 200px;
    
}
.bnt-expandir{
    width: 100%;
    padding-left: 10px;
}
.bnt-expandir>i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}


.menu-lateral>ul{
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    
}
ul li.item-menu{
    transition: .2s;
}
ul li.ativo{
    background-color:rgb(164, 202, 240)
}
ul li.item-menu:hover{
    background-color:rgb(164, 202, 240);

}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}


ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;

}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;

}