*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

header,nav,main,footer,aside{
    background:  rgb(171, 228, 238);
    display: flex;
    margin: 3px;
   
}

body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}


header {
    flex: 1 1 100vw;
    height: 100px;
    
    
}    
nav {
    flex: 1 1;
    flex-direction: column;
    width: 80px;
}
main {
    flex: 20 1 500px;
    height: calc(100vh -224px);
    
}
aside {

    flex: 1 1 200px;
    
}

footer {
    height: 100px;
    flex: 1 1 100vw;

}

header {
 justify-content: space-between;
}

.prt_esquerda{
    display: flex;
    align-items: center;
}

#imglogo{
    width: 15vh;
    border-radius: 30%;
    
}
.box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.search-box form {
    
    display: flex;
    border-radius: 50px;
    height: 25px;
}
.search-box-input {
    font-size: 1.2em;
    color: #000000;
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
}
.search-box-button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    background: none;
 }

  #txt_busca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    border:none;
    height:32px;
    width:260px;
  }

  #texto{
    font-size: 300%;
    color:rgb(28, 168, 233) ;
  }
  #teste{
    width: 63vw;
  }
  main{
    flex-direction: column;
  }



.menu-lateral{
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 rgb(164, 202, 240);
    transition: .5s;
    
    
    
}
.menu-lateral.expandir{
    flex: 1 1 200px;
    
}
.bnt-expandir{
    width: 100%;
    padding-left: 10px;
}
.bnt-expandir>i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}


.menu-lateral>ul{
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    
}
ul li.item-menu{
    transition: .2s;
}
ul li.ativo{
    background-color:rgb(164, 202, 240)
}
ul li.item-menu:hover{
    background-color:rgb(164, 202, 240);

}
ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}


ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;

}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;

}

/*slider*/
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides
{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides  input{
    display: none;
}
.slide{

    width: 25%;
    position: relative;
    transition: 2s;

}

.slide img{	
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width:800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-bnt{
    border: 2px solid white; 
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-bnt:not(:last-child){
    margin-right: 40px;
}
.manual-bnt:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position:absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #FFF;
}