@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.one{
    font-size: 5e;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%) translate(-25%);
}

body{
    height: 900vh;
    text-align: center;
    text-align: right;
    text-align: left;
}

nav.menu-lateral{
    width: 50px;
    height: 100%;
    background: radial-gradient(rgb(28, 168, 233),white);
    padding-top: 10px;
    box-shadow: 3px 0 0px blue;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral:hover{
    width: 300px;

}


.btn-expandir{
    width: 100%;
    padding-left: 10px;
}


.btn-expandir > i{
    color: blue;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .5s;
}

ul li.item-menu:hover{
    background-color: #fff;
}

ul li.item-menu a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 20px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

