/* zerando tudo para depois estilizar... */
/* margin: distância do elemento para o elemento seguinte*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* background-color: #70BFF8; */
    background-image: url(../img/imgfeed.png);
    background-repeat: no-repeat;
    background-size: cover;/* definindo o tamanho da imagem como cover, a imagem vai prencher todo o espaço sem ficar esticada  */
    background-attachment: fixed;/*a imagem é fixa e vai preencher todo o fundo*/
}
/* estilizando o container (caixa) */
#container{
    display: flex;
    justify-content: center; /*centralizando o conteúdo*/
    width: 92%;
    height: 450px;
    margin-top: 220px;/*essa margem permite o container não ficar colado na parte superior*/
}
/* ajustando o conteúdo dentro do container... */
form{
    background-color: rgba(8, 8, 5, 0);
    /* background-color: #ffffff10; */
    padding: 30px;/*espaçamento entre o conteúdo e a borda*/
    border-radius: 15px;
    box-shadow: 20px 20px 50px 18px rgba(12, 12, 12, 0.363);/*sombriamento*/;
    position: relative;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 42px;
}
    /* Se for centralizar o "informe no campo.." coloca isso na div:
    display: flex;
    justify-content: center; */
div{
    position: relative;
    padding-top: 18px;
    margin-bottom: 5px;
}
label{
    color:#fff;
    font-size: 25px;
    position: absolute;
}
textarea::placeholder{
    color: aliceblue;
}
textarea{
    height: 190px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200px;
    font-size: 18px;
    padding: 10px;
    outline: none;/*estou deixando sem nada no contorno*/
    margin-top: 30px;/*distância entre a legenda e o textarea*/
    margin-bottom: 18px;
    min-width: 600px;
    max-width: 600px;
    /* min-height: 80px; */
    /* max-height: 80px; */
}
button{
    width: 280px;
    height: 50px;
    margin-left: 170px;/*para colocar o botão de enviar no meio*/
    background-color: #fff;
    border: none;
    color: rgb(13, 129, 129);;
    padding: 7px;/*espaçamento interno*/
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;/*estou deixando sem nada no contorno*/
}
button:hover{
    opacity: 0.8;/*aplicando transparência*/
}