*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

/* Estilo do header */
header{
    width: 100%;
    padding: 18px 0px;
    background-color: rgb(10, 195, 195);
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 80%;
}

header .menu-desktop nav ul{
    list-style-type: none;

}

.menu-desktop nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.menu-desktop nav ul li a{
    color: wheat;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    font-weight: 600;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid wheat;
    color: wheat;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
}

header .btn-contato button:hover{
    background-color: wheat;
    color: rgb(10, 195, 195);
}

.container-apresentação-site{
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: #eeeeeb;
}
 
.container-bem-vindo{
    width: 50%;
    padding: 0px 140px;
}

.container-apresentação-site .btn-saiba-mais button{
    color: wheat;
    background-color: rgb(10, 195, 195);
    font-size: 18px;
    border: 2px solid wheat;
    padding: 5px;
    cursor:pointer;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 0.4em;
    transition: 0.5s;
}

.parágrafo-container-apresentação{
    font-size: 1.3em;
    font-weight: 400;
}

.container-apresentação-site .btn-saiba-mais button:hover{
    background-color: rgb(34, 241, 168);
    color: rgb(218, 215, 49);
}

/* Seção do Sobre Nós */

section.sobre-nos{
    padding: 80px 0;
    background-color: rgb(10, 195, 195);
    margin: 2em 0;
}

.sobre-nos .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin: 100px;
}

.sobre-nos .itens-container .img-itens img{
    max-width: 480px;
}

.sobre-nos .itens-container .txt-itens h3{
    line-height: 50px;
    margin-bottom: 20px;
}

.paragrafo-sobre-nos{
    font-size: 30px;
}

h3{
    font-size: 60px;
}

.itens-container .img-itens{
    font-weight: 300;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.paragrafo-footer{
    padding: 0px 10px;
}

#KiaMed-paragrafo-cores{
    font-weight: 500;
    font-size: 20px;
}

#MED-paragrafo-cor{
    color:blue;
}

#Kia-paragrafo-cor{
    color: red;
}