body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e1e1e1;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #52bfee;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    cursor: pointer;
}

.menu-line {
    width: 30px;
    height: 4px;
    background-color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FF0033;
}

.home-button {
    background-color: #0000FF;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-image img {
    max-width: 300px;
    margin-right: 50px;
}

.form-container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    font-size: 16px;
    color: #FFF;
    background-color: #CCC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color:#52bfee;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content img {
    height: 20px;
    margin-right: 10px;
}

.footer-logo-text {
    color: #FF0033;
}
