body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00ccff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4682b4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #4682b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 600px;
    margin: auto;
}

label, input, textarea, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #315f86;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icons a {
    text-align: center;
    display: block;
    width: 100px;
}

.icons img {
    max-width: 50px;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input-container {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

.search-input-container input {
    width: 100%;
    padding: 10px 20px 10px 40px; /* Espaço para o ícone */
    border: 1px solid #007bff;
    border-radius: 5px;
}

.search-input-container .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5); /* Cinza semi-transparente */
    pointer-events: none; /* O ícone não interfere nas interações do input */
}
