header{ 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    margin-left: 20px;
    margin-right: 20px;

}
#toggle-dark-mode .bi-brightness-high-fill {
    display: none;
}

header a{

    text-decoration: none;
}

/* Estilos para o menu dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px; /* Ajuste conforme necessário para alinhar */
}

.dropbtn {
    background-color: #fff;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px; /* Adiciona bordas arredondadas */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px; /* Adiciona bordas arredondadas */
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd; /* Adiciona separadores */
}

.dropdown-content a:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}
