body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode #toggle-dark-mode {
  color: white;
}

#toggle-dark-mode {
  font-size: large;
}

#toggle-dark-mode .bi-moon-fill {
  display: inline;
}

#toggle-dark-mode .bi-brightness-high-fill {
  display: none;
}

body.dark-mode #toggle-dark-mode .bi-moon-fill {
  display: none;
}

body.dark-mode #toggle-dark-mode .bi-brightness-high-fill {
  display: inline;
}

body.dark-mode #frase_principal_azul {
  color: #0f598d;
}
body .container-geral .dark-mode{
  background-color: black;
  color: white;
}

body .latest-post-item .dark-mode {
  background-color: rgb(56, 56, 56);
}

body.dark-mode .latest-post-item h3{

  color: #fff;

}

body .latest-post-item a:hover .dark-mode {

  color: #fff;

}